@model IEnumerable<GroupProject.Models.Organisation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrganisationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgarnisationAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganisationCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganisationProvince)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrganisationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgarnisationAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganisationCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganisationProvince)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrganisationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrganisationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrganisationID })
        </td>
    </tr>
}

</table>
